<Host "retcore.com">
    FrontDirectory: /home/zakhar/frontend/main;
    BackDirectory: /home/max/BackEnd/RetCore/RetCore;
    StaticFiles: .html, .js, .css, .jpg, .jpeg, .png, .gif, .mp3, .mp4;
    BlockUrlChars: "../";
</Host>

<Host "www.retcore.com">
    FrontDirectory: /home/zakhar/frontend/main;
    BackDirectory: /home/max/BackEnd/RetCore/RetCore;
    StaticFiles: .html, .js, .css, .jpg, .jpeg, .png, .gif, .mp3, .mp4;
    BlockUrlChars: "../";
</Host>

<Host "land.retcore.com">
    FrontDirectory: /home/zakhar/frontend/land;
    BackDirectory: BackDirectory: /home/max/BackEnd/Land/Land;
    StaticFiles: .html, .js, .css, .jpg, .jpeg, .png, .gif, .mp3, .mp4;
    BlockUrlChars: "../";
</Host>